html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      each user in result
         div.result
            span #{user._id}
            span #{user.username}
            span #{user.password}
            span #{user.name}
            span #{user.age}
            span
               a(href='/mongo/edit?id=#{user._id}') 编辑
